.m-t-5 {
    margin-top: 5px;
}

.m-t-10 {
    margin-top: 10px;
}

.m-t-15 {
    margin-top: 15px;
}

.m-t-20 {
    margin-top: 20px;
}

.m-t-25 {
    margin-top: 25px;
}

.m-t-30 {
    margin-top: 30px;
}

.m-t-35 {
    margin-top: 35px;
}

#app-header-fluid {
    background-color: mediumseagreen;
}

#app-header {
    padding: 20px;
    height: 70px;
}

#app-logo {
    color: #fff;
    font-weight: bold;
    font-size: 22px;
}

#app-username {
    color: lightgoldenrodyellow;
    font-size: 16px;
}

#app-logout {
    color: lightgoldenrodyellow;
    text-align: right;
    margin-top: 5px;
}

#app-logout a {
    color: lightgoldenrodyellow;
    text-decoration: none;
    font-size: 16px;
}

#app-main-menu-fluid {
    background-color: #057347;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.3);
}

#app-main-menu-container {
    padding: 10px;
    height: 45px;
}

#app-main-menu ul {
    margin: 0;
}

#app-main-menu ul>li {
    display: block;
    float: left;
    list-style-type: none;
}

#project {
    text-align: right;
}

#project label {
    color: #fff;
    margin-right: 5px;
}

.projects-list {
    width: 200px;
    height: 25px;
}

.project-item {
    margin-bottom: 15px;
    padding: 13px 20px;
    border: 1px solid #CCCCCC;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2);
}

.project-caption {
    font-size: 16px;
    font-weight: 600;
}

.project-manage-link a {
    cursor: pointer;
}

.project-item-details {
    margin-top: 30px;
    padding: 20px 20px;
    border: 1px solid #CCCCCC;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2);
}