{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>About</h2>
            <div class="app-form-container m-t-15 col-md-12">
                <h3>Redmine Helper Project</h3>
                <p>Author: Vladimir Zakharchenko</p>
                <p>
                    Redmine Helper Project is a test project based on the Symfony 3 framework,
                    it works with Redmine API and provides the data from remote Redmine server.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}